.button {
    border-radius: 5px;
    border: 2px solid white;
    padding: 5px;
    margin-top: 1rem;
    margin-left: 35%;
    display: block;
    justify-content: center;
    align-items: center;
}